
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Flavorista</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/recepies">Recepies</a>
          <a class="nav-link" href="/recepies/new">New Recepie</a>
        </div>
        <div class="navbar-nav me-auto">
          <% if(!currentUser) {%>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else {%>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
        <form action="/recepies/search" method="POST" class="navbar-form">
          <div class="input-group">
            <input type="search" name="searchTerm" class="form-control" placeholder="Search Recepies" aria-label="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>