<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/new.css">
  <div class="row">
    <h1 class="text-center">New Recepie</h1>
    <div class="col-6 offset-3">
      <form action="/recepies" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="recepie[title]" required>
          <div class="valid-feedback">
            Looks Good!
          </div> 
          
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" name="recepie[description]" required> 
            <div class="valid-feedback">
              Looks Good!
            </div>

        </div>
        <!-- <div class="mb-3">
          <label class="form-label" for="image">Image Url</label>
          <input class="form-control" type="text" id="image" name="recepie[image]" required>
          <div class="valid-feedback">
            Looks Good!
          </div>  
        </div> -->
        <!-- <div class="form-file">
          <input type="file" class="form-file-input" id="image" name="image" multiple>
          <label class="form-file-label" for="image">
            <span class="form-file-text">Choose images</span>
            <span class="form-file-button">Browse</span>
          </label>
        </div> -->
        <input type="file" name="image" id="" multiple>
        <!-- <div class="mb-3">
          <label class="form-label" for="ingridients">ingridients</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" id="ingridients" class="form-control" placeholder="0.00" aria-describedby="price-label" aria-label="price" name="campground[price]" required>
            </div>
            <div class="valid-feedback">
              Looks Good!
            </div>
        </div> -->
        <div class="mb-3">
            <label class="form-label" for="ingridients">Ingridients</label>
            <textarea class="form-control" type="text" id="ingridients" name="recepie[ingridients]" required></textarea>
            <div class="valid-feedback">
              Looks Good!
            </div>
          </div>

        <div class="mb-3">
          <label class="form-label" for="instructions">Instructions</label>
          <textarea class="form-control" type="text" id="instructions" name="recepie[instructions]" required></textarea>
          <div class="valid-feedback">
            Looks Good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="cookTime">CookTime</label>
          <textarea class="form-control" type="text" id="cookTime" name="recepie[cookTime]" required></textarea>
          <div class="valid-feedback">
            Looks Good!
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success">Add Recepie</button>
        </div> 
      </form>
    </div>
  </div>

 
    
